/* ~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    font-family: Roboto;
    font-size: 13px;
    color: PRIMARY_TEXT_COLOR;
}

/* ~~~~~ FRAMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QFrame {
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0px;
    margin: 0px;
}

QFrame#viewWidget {

}

QFrame#viewTools {
    margin: 2px 0px 0px 4px;
    background-color: transparent;
}

QFrame#toolbar {
    background-color: SURFACE_COLOR;
}

DropFrame#leftMainWgt {
    background-color: BACKGROUND_COLOR;
    padding: 0px;
}
DropFrame {
    border: 2px solid BACKGROUND_COLOR;
}

DropFrame#leftMainWgt[drag-accept=true] {
    border-color: OK_COLOR;
}

DropFrame#leftMainWgt[drag-accept=false] {
    border-color: ERROR_COLOR;
}

/* ~~~~~ SPLITTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QSplitter::handle {
    height: 6px;
    background-color: SURFACE_COLOR;
    image: URL(./resources/icons/dots.png) #BACKGROUND_COLOR;
}

/* workaround to repaint handle */
QSplitterHandle:hover {

}

QSplitter::handle:horizontal:hover {
    image: URL(./resources/icons/dots.png) #SECONDARY_COLOR;
}

/* ~~~~~ STATUS BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QStatusBar {
    background: SURFACE_COLOR;
    border-radius: 0px;
}

QStatusBar::item {
    border: 0px solid transparent;
}

/* ~~~~~ LABEL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QLabel {
    background: transparent;
}

QLabel#filterIcon {
    image: URL(./resources/icons/filter_list.png) #SECONDARY_TEXT_COLOR;
    min-width: 20px;
    min-height: 20px;
}

/* ~~~~~ GROUP BOX ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QGroupBox {
    font-size: 11px;
    text-transform: uppercase;
    border-top: 1px solid PRIMARY_COLOR;
    margin: 30px 0px 0px 0px;
    border-radius: 0px;
}

QGroupBox::title {
    subcontrol-origin: padding;
    subcontrol-position: top left;
    left: 2px;
    top: -14px;
}

QGroupBox#intervalsGroup {
    min-height: 150px;
}

QGroupBox#toolsGroup {
    margin-bottom: 30px;
}

/* units group behaves like GroupBox */
QFrame#unitsGroup {
    border-top: 1px solid PRIMARY_COLOR;
}

/* ~~~~~ TOOL BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QToolButton {
    width: 50px;
    height: 40px;
    border: 1px solid PRIMARY_COLOR;
    background-color: transparent;
    color: PRIMARY_TEXT_COLOR;
    font-size: 10px;
    margin: 2px;
}

QToolButton:checked {
    background-color: SECONDARY_COLOR #70;
    border-color: SECONDARY_COLOR;
    color: SECONDARY_TEXT_COLOR;
    font-weight: bold;
}

QToolButton:hover:checked {
    background-color: SECONDARY_COLOR #70;
    border-color: SECONDARY_COLOR;
}

QToolButton:disabled {
    border-color: PRIMARY_COLOR #50;
    background-color: transparent;
    color: PRIMARY_COLOR #50;
    border-style: dashed;
}

QToolButton:hover {
    background-color: SECONDARY_COLOR #10;
    border-color: SECONDARY_COLOR;
}

QToolButton#swapButton {
    margin: 0px;
    border: 0px;
    background: transparent;
    image: URL(./resources/icons/swap.png) #PRIMARY_COLOR;
    width: 20px;
    height: 20px;
}

ClickButton:checked {
    background-color: transparent;
    color: PRIMARY_TEXT_COLOR;
    border-color: SECONDARY_COLOR;
    font-weight: bold;
}

#collapseButton, #expandButton, #treeButton {
    width: 23;
    height: 18;
    border: 1px solid SECONDARY_TEXT_COLOR;
    background: transparent;
    margin: 1px;
}

#collapseButton {
    image: URL(./resources/icons/unfold_less.png) #SECONDARY_TEXT_COLOR;
}

#expandButton {
    image: URL(./resources/icons/unfold_more.png) #SECONDARY_TEXT_COLOR;
}

#treeButton {
    image: URL(./resources/icons/plain_view.png) #SECONDARY_TEXT_COLOR;
}

#collapseButton:disabled, #expandButton:disabled, #treeButton:disabled {
    border-color: SECONDARY_TEXT_COLOR #50;
}

#collapseButton:disabled {
    image: URL(./resources/icons/unfold_less.png) #SECONDARY_TEXT_COLOR #50;
}

#expandButton:disabled {
    image: URL(./resources/icons/unfold_more.png) #SECONDARY_TEXT_COLOR #50;
}

#collapseButton:hover, #expandButton:hover, #treeButton:hover {
    background-color: SECONDARY_TEXT_COLOR #15;
}

#treeButton:checked {
    image: URL(./resources/icons/tree_view.png) #SECONDARY_TEXT_COLOR;
}

QToolButton#dropButton {
    background: transparent;
    border: none;
    height: 100px;
    width: 150px;
    font-size: 11px;
}

QToolButton#dropButton:hover {
    background: transparent;
}

/* ~~~~~ MENU BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

MenuButton {
    border: 0px;
    margin: 0px;
    width: 36px;
    height: 36px;
    icon-size: 25px;
}

MenuButton:hover {
    background: transparent;
}

MenuButton#settingsButton {
    height: 60px;
    width: 60px;
}

MenuButton::menu-indicator {
    image: url(./resources/icons/transparent.png);
    margin: 3px;
    width: 10px;
    height: 10px;
}

QFrame#buttonFrame {
    background: transparent;
    border: transparent;
}

/* ~~~~~ TITLED BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

TitledButton QToolButton {
    font-size: 13px;
}

TitledButton QToolButton::menu-indicator {
    image: URL(./resources/icons/expand_more.png) #PRIMARY_COLOR;
    margin: 1px;
    width: 12px;
    height: 12px;
}

TitledButton QToolButton:checked {
    background-color: transparent;
    border-color: PRIMARY_COLOR;
    color: PRIMARY_TEXT_COLOR;
    font-weight: normal;
}

TitledButton QToolButton:disabled {
    border-color: PRIMARY_COLOR #50;
    background-color: transparent;
    color: PRIMARY_COLOR #50;
    border-style: dashed;
}

TitledButton QToolButton:checked:hover {
    border-color: PRIMARY_COLOR;
    background-color: transparent;
}

QLabel#buttonTitle {
    font-size: 9px;
    background: transparent;
}

QLabel#buttonTitle:disabled {
    color: PRIMARY_COLOR #50;
}

/* ~~~~~ SCHEME BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QToolButton#schemeButton {
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    background: transparent;
    width: 20px;
    height: 20px;
}

QToolButton#schemeButton:hover {
    background: transparent;
}

QToolButton#schemeButton QMenu {
    border: 1px solid PRIMARY_COLOR;
    margin: 0px;
}

QToolButton#schemeButton::menu-indicator {
    image: url(./resources/icons/transparent.png);
    margin: 0px;
    width: 0px;
    height: 0px;
}

IconMenuButton QMenu::icon {
    margin: 0px;
    padding: 0px 5px;
}

IconMenuButton QMenu::item {
    background-color: SURFACE_COLOR;
    padding: 10px 24px 10px 30px;
    border: 1px solid transparent;
}

IconMenuButton QMenu::item:selected {
    background: SECONDARY_COLOR #15;
}

IconMenuButton QMenu::indicator {
    width: 12px;
    height: 12px;
    padding-left: 6px;
}

/* ~~~~~ LINE EDIT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

LineEdit, QLineEdit {
    border: 0px solid transparent;
    background-color: SURFACE_COLOR;
    border-radius: 2px;
}

/* ~~~~~ PROGRESS WIDGET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

ProgressWidget SummaryWidget{
    border-right: 1px solid PRIMARY_COLOR #50;
    padding-right: 8px;
    padding-left: 2px;
}

ProgressWidget QPushButton {
    image: URL(./resources/icons/file.png) #PRIMARY_COLOR;
    margin-bottom: 2px;
    background: transparent;
}

SummaryWidget QProgressBar {
    background: OK_COLOR #40;
    border: 0px solid transparent;
    min-height: 2px;
}

SummaryWidget QProgressBar::chunk {
    background: OK_COLOR;
    width: 1px;
}

SummaryWidget QLabel {
    font-size: 11px;
}

ProgressWidget QProgressBar {
    background: OK_COLOR #40;
    border: 0px solid transparent;
    min-height: 2px;
}

ProgressWidget QProgressBar::chunk {
    background: OK_COLOR;
    width: 1px;
}

ProgressWidget[failed=true] QProgressBar {
       background: ERROR_COLOR #20;
}

ProgressWidget[failed=true] QProgressBar::chunk {
    background: ERROR_COLOR;
}

ProgressWidget[failed=true] QPushButton {
    image: URL(./resources/icons/remove_file.png) #ERROR_COLOR;
}

ProgressWidget QLabel {
    font-size: 11px;
}

ProgressWidget[failed=true] QLabel {
    color: ERROR_COLOR;
}

/* ~~~~~ TAB WIDGET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


QTabWidget::tab-bar {

}

QTabWidget::pane {
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    background-color: SURFACE_COLOR;
}

QTabBar::tab {
    color: SECONDARY_TEXT_COLOR;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px 10px;
    border-right: 2px solid SURFACE_COLOR;
    border-top: 0px solid transparent;
}

QTabBar::tab:selected {
    background: SURFACE_COLOR;
    color: PRIMARY_TEXT_COLOR;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 0px solid SECONDARY_COLOR;
    border-right: 2px solid transparent;
}

QTabBar::tab:selected:hover {
    background: SURFACE_COLOR;
}

QTabBar::tab:hover {
    background: SURFACE_COLOR #15;
}


QTabBar::tab:selected {

}

QTabBar::close-button {
    image: URL(./resources/icons/remove.png) #SECONDARY_TEXT_COLOR;
}

QTabBar::close-button:selected {
    image: URL(./resources/icons/remove.png) #PRIMARY_COLOR;
}

QTabBar::close-button:hover {
    image: URL(./resources/icons/remove.png) #ERROR_COLOR;
}

QTabBar::tab:first:selected {

}

QTabBar::tab:last:selected {

}

QTabBar::tab:only-one {

}

QTabBar QToolButton {
    border: 1px solid SECONDARY_TEXT_COLOR;
    background: BACKGROUND_COLOR;
    margin: 2px;
}

QTabBar QToolButton:hover {
    background-color: BACKGROUND_COLOR;
    border: 1px solid SECONDARY_TEXT_COLOR;
}

QTabBar QToolButton:disabled {
    border: transparent;
    background: transparent;
    color: transparent;
}

QTabBar::scroller {
    width: 60px;
}

QTabBar QToolButton::left-arrow {
    image: URL(./resources/icons/chevron_left.png) #SECONDARY_TEXT_COLOR;
}

QTabBar QToolButton::left-arrow:disabled {
    image: url(./resources/icons/transparent.png);
}

QTabBar QToolButton::right-arrow {
    image: URL(./resources/icons/chevron_right.png) #SECONDARY_TEXT_COLOR;
}

QTabBar QToolButton::right-arrow:disabled {
    image: url(./resources/icons/transparent.png);
}

QHeaderView::section {
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 0px solid transparent;
    border-bottom: 1px solid SECONDARY_COLOR;
}

QHeaderView::section:checked {

}

/* style the sort indicator */
QHeaderView::down-arrow {
    color: PRIMARY_TEXT_COLOR;
    image: URL(./resources/icons/expand_less.png) #PRIMARY_COLOR;
    width: 12px;
    height: 12px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QHeaderView::up-arrow {
    color: PRIMARY_TEXT_COLOR;
    image: URL(./resources/icons/expand_more.png) #PRIMARY_COLOR;
    width: 12px;
    height: 12px;
}

QTreeView {
    show-decoration-selected: 0;
}

QTreeView::item {
    border: 1px solid PRIMARY_COLOR #50;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

QTreeView::item:hover {
    background: SECONDARY_COLOR #20;
}

QTreeView::item:selected {
    color: SECONDARY_TEXT_COLOR;
    background: SECONDARY_COLOR;
}

QTreeView::item:selected:active {
    background: SECONDARY_COLOR;
}

QTreeView::item:selected:!active {
    background: SECONDARY_COLOR;
    border-right: transparent;
}

QTreeView::item:has-children {
    background: PRIMARY_COLOR #10;
}

QTreeView::branch:has-children {
    padding: 4px;
    background: PRIMARY_COLOR #10;
}

QTreeView::branch:has-children:closed {
    image: URL(./resources/icons/plus.png) #PRIMARY_TEXT_COLOR;
}

QTreeView::branch:has-children:open {
    image: URL(./resources/icons/minus.png) #PRIMARY_TEXT_COLOR;
}

QScrollBar:vertical {
    background: SURFACE_COLOR;
    width: 6px;
    margin: 0px;
    border: 0px solid transparent;
}

QScrollBar:horizontal {
    background: SURFACE_COLOR;
    height: 6px;
    margin: 0px;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: transparent;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 0px solid transparent;
    width: 0px;
    height: 0px;
    background: transparent;
}

QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal {
    border: 0px solid transparent;
    width: 0px;
    height: 0px;
    background: transparent;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background-color: SECONDARY_COLOR;
}

QScrollBar::add-line:vertical {
    border: 0px solid transparent;
    background-color: transparent;
    height: 10px;
}

QScrollBar::add-line:horizontal {
    border: 0px solid transparent;
    background-color: transparent;
    width: 10px;
}

QScrollBar::add-line:pressed {
    background: SECONDARY_COLOR #50;
}

QScrollBar::sub-line:vertical {
    border: 0px solid transparent;
    background-color: transparent;
    height: 10px;
}

QScrollBar::sub-line:horizontal {
    border: 0px solid transparent;
    background-color: transparent;
    width: 10px;
}

QScrollBar::sub-line:pressed {
    background: SECONDARY_COLOR;
}

QMenu {
    border: 1px solid PRIMARY_COLOR;
    background: SURFACE_COLOR;
    margin: 0px;
}

QMenu::icon {
    margin: 0px;
    padding: 0px 5px;
}

QMenu::item {
    background-color: SURFACE_COLOR;
    padding: 10px 24px 10px 30px;
    border: 1px solid transparent;
}

QMenu#contextMenu::item {
    padding-left: 15px;
}

QMenu::item:selected {
    background: SECONDARY_COLOR #15;
}

QMenu::item:checked {
    background-color: SECONDARY_COLOR;
    color: SECONDARY_TEXT_COLOR;
}

QMenu::item:disabled {
    color: PRIMARY_COLOR #50;
}

QMenu::indicator {
    width: 12px;
    height: 12px;
    padding-left: 6px;
}

QMenu::indicator:non-exclusive:checked {
    image: URL(./resources/icons/check.png) #SECONDARY_TEXT_COLOR;
}


QFrame#toggleButtonContainer {
    margin: 2px;
}

ToggleButton QLabel {
    font-size: 11px;
    text-transform: uppercase;
}

QSlider {
    margin: 0px 2px 0px 0px;
    padding: 2px 5px;
    height: 11px;
    max-width: 14px;
    background: PRIMARY_COLOR #50;
    border-radius: 7px;
    border: 0px solid transparent;
}

QSlider[checked=true] {
    background: SECONDARY_COLOR;
}

QSlider[enabled=false] {
    opacity: 0.5;
    background: PRIMARY_COLOR #50;
}

QSlider::groove:horizontal {
    background: transparent;
}

QSlider::handle:horizontal {
    height: 5px;
    width: 11px;
    border-radius: 5px;
    background: SURFACE_COLOR;
    margin: 0 -4px;
}

QDialog {
    border: 1px solid PRIMARY_COLOR;
    background: SURFACE_COLOR;
    min-width: 320;
}

QDialog QLabel {
    padding: 0px 0px 0px 10px;
    font-weight: normal;
}

QDialog QLabel[primary=true] {
    padding: 10px 16px 10px 10px;
    margin: 0px 5px 5px 5px;
    border-bottom: 1px solid SECONDARY_COLOR;
    font-weight: bold;
}

QDialog QLineEdit {
    border: 1px solid PRIMARY_COLOR;
}

QDialog QTextEdit {
    background-color: transparent;
    font-style: italic;
    margin: 5px;
    margin-bottom: 0px;
    padding: 6px;
    padding-bottom: 0px;
}

#okButton, #cancelButton {
    border: 0px solid transparent;
    background: transparent;
    width: 16px;
    height: 16px;
    margin: 4px 0px;
}

QDialogButtonBox #okButton {
    image: URL(./resources/icons/check.png) #PRIMARY_COLOR;
}

QDialogButtonBox #cancelButton {
    image: URL(./resources/icons/remove.png) #PRIMARY_COLOR;
    margin-right: 4px;
}

QDialogButtonBox #okButton:hover {
    image: URL(./resources/icons/check.png) #OK_COLOR;
    background: transparent;
}

QDialogButtonBox #cancelButton:hover {
    image: URL(./resources/icons/remove.png) #ERROR_COLOR;
    background: transparent;
}
