/* ~~~~~ LABEL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QLabel {
    background: transparent;
}

QLabel:disabled {
    color: PRIMARY_TEXT_COLOR#50;
}

QLabel#filterIcon {
    image: URL(filter_list.png) #SECONDARY_TEXT_COLOR;
    min-width: 20px;
    min-height: 20px;
}


QLabel#statusLabel {
    font-size: 11px;
    color: PRIMARY_TEXT_COLOR;
    border: 0px solid PRIMARY_COLOR;
    padding: 2px;
    margin: 2px;
}