* {
    color: rgb(33, 150, 243);
}

QFrame {
    background-color: white;
}

QToolBar {
    background-color: white;
}

QSplitter::handle {
    background-color: rgba(33, 150, 243, 0.5);
}

QGroupBox {
    border:none;
    margin: 0px 0px 0px 0px;
    background-color: yellow;
    border: 2px solid gray;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0px 0px;
    background-color: yellow;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    right: 0px;
    top: 0px;
}

QToolButton {
    width: 50px;
    height: 40px;
    border: 2px solid rgba(33, 150, 243, 0.5);
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 2px;
  }

QToolButton:checked {
    color: white;
    background-color: rgba(33, 150, 243, 1);
}

#smallButton {
    width: 25;
    height: 20;
  }

QToolButton:disabled {
    opacity: 0.5;
    border-color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
  }

QToolButton:hover:!checked {
    background-color: rgba(0,0,0,0.08);
  }

TitledButton {
    border-radius: 5px;
}

TitledButton QToolButton {
}

TitledButton QToolButton:hover {
}

#buttonFrame {
    background: transparent;
}

QLabel#buttonTitle {
    font-size: 9px;
    background: transparent;
}

QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
}

QProgressBar::chunk {
    background-color: #05B8CC;
    width: 1px;
}

QMenu {
    background-color: white;
    margin: 2px; /* some spacing around the menu */
}

QMenu::item {
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected {
    border-color: darkblue;
    background: rgba(100, 100, 100, 150);
}

QMenu::icon:checked { /* appearance of a 'checked' icon */
    background: gray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 13px;
    height: 13px;

}