
/* ~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    font-family: Roboto;
    font-size: 13px;
    color: PRIMARY_TEXT_COLOR;
}

/* ~~~~~ FRAMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QFrame {
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0px;
    margin: 0px;
}

QFrame#viewWidget {

}

QFrame#viewTools {
    margin: 4px 0px 2px 6px;
    background-color: transparent;
}

QFrame#toolbar {
    margin-right: 2px;
    background-color: SURFACE_COLOR;
}

DropFrame#leftMainWgt {
    background-color: BACKGROUND_COLOR;
    padding: 2px;
}

DropFrame#leftMainWgt[drag-accept=true] {
   background-color: OK_COLOR;
}

DropFrame#leftMainWgt[drag-accept=false] {
   background-color: ERROR_COLOR;
}

/* ~~~~~ SPLITTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QSplitter::handle {
    background-color: SURFACE_COLOR;
}

/* ~~~~~ STATUS BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QStatusBar {
    background: SURFACE_COLOR;
    border-radius: 0px;
}

/* ~~~~~ LABEL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QLabel {
    background: transparent;
}

QLabel#filterIcon {
    image: URL(../icons/filter_list.png)#SECONDARY_TEXT_COLOR;
}

/* ~~~~~ GROUP BOX ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QGroupBox {
    font-size: 11px;
    text-transform: uppercase;
    border-top: 1px solid PRIMARY_COLOR;
    margin: 30px 0px 0px 0px;
    border-radius: 0px;
}

QGroupBox::title {
    subcontrol-origin: padding;
    subcontrol-position: top left;
    left: 2px;
    top: -14px;
}

QGroupBox#intervalsGroup {
    min-height: 150px;
}

QGroupBox#toolsGroup {
    margin-bottom: 30px;
}

/* units group behaves like GroupBox */
QFrame#unitsGroup {
    border-top: 1px solid PRIMARY_COLOR;
}

/* ~~~~~ TOOL BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

QToolButton {
    width: 50px;
    height: 40px;
    border: 1px solid PRIMARY_COLOR;
    background-color: transparent;
    color: PRIMARY_TEXT_COLOR;
    font-size: 11px;
    margin: 2px;
}

QToolButton:checked {
    background-color: SECONDARY_COLOR#50;
    border-color: SECONDARY_COLOR;
    color: SECONDARY_TEXT_COLOR;
}

QToolButton:hover:checked {
    background-color: SECONDARY_COLOR#20;
    border-color: SECONDARY_COLOR;
}

QToolButton:disabled {
    border-color: PRIMARY_COLOR#50;
    background-color: transparent;
    color: PRIMARY_COLOR#50;
    border-style: dashed;
}

QToolButton:hover {
    background-color: SECONDARY_COLOR#10;
    border-color: SECONDARY_COLOR;
}

ToolsButton {
    font-size: 10px;
}

QToolButton#swapButton {
    margin: 0px;
    border: 0px;
    background: transparent;
    image: URL(../icons/swap.png)#PRIMARY_COLOR;
    width: 20px;
    height: 20px;
}

#collapseButton, #expandButton, #treeButton {
    width: 23;
    height: 18;
    border: 1px solid SECONDARY_TEXT_COLOR;
    background: transparent;
    margin: 2px;
}

#collapseButton {
    image: URL(../icons/unfold_less.png)#SECONDARY_TEXT_COLOR;
}

#expandButton {
    image: URL(../icons/unfold_more.png)#SECONDARY_TEXT_COLOR;
}

#treeButton {
    image: URL(../icons/plain_view.png)#SECONDARY_TEXT_COLOR;
}

#collapseButton:disabled, #expandButton:disabled, #treeButton:disabled {
    border-color: SECONDARY_TEXT_COLOR#50;
}

#collapseButton:disabled {
    image: URL(../icons/unfold_less.png)#SECONDARY_TEXT_COLOR#50;
}

#expandButton:disabled {
    image: URL(../icons/unfold_more.png)#SECONDARY_TEXT_COLOR#50;
}

#collapseButton:hover, #expandButton:hover, #treeButton:hover {
    background-color: SECONDARY_TEXT_COLOR#15;
}

#treeButton:checked {
    image: URL(../icons/tree_view.png)#SECONDARY_TEXT_COLOR;
  }

QToolButton#dropButton {
    background: transparent;
    border: none;
    height: 100px;
    width: 150px;
  }

QToolButton#dropButton:hover {
      background: transparent;
}

/* ~~~~~ MENU BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

MenuButton {
    border: 0px;
    margin: 0px;
    width: 36px;
    height: 36px;
}

MenuButton:hover {
    background: transparent;
}

MenuButton#settingsButton {
    height: 60px;
    width: 60px;
}

MenuButton::menu-indicator {
    image: URL(../icons/plus.png)#PRIMARY_COLOR;
    margin: 3px;
    width: 10px;
    height: 10px;
}

QFrame#buttonFrame {
    background: transparent;
    border: transparent;
}

MenuButton#fileButton {
image: URL(../icons/file.png)#PRIMARY_COLOR;
}

MenuButton#saveButton {
image: URL(../icons/save.png)#PRIMARY_COLOR;
}

MenuButton#aboutButton {
image: URL(../icons/help.png)#PRIMARY_COLOR;
}

/* ~~~~~ TITLED BUTTON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

TitledButton QToolButton {
    font-size: 13px;
}

TitledButton QToolButton::menu-indicator {
    image: URL(../icons/expand_more.png)#PRIMARY_COLOR;
    margin: 1px;
    width: 12px;
    height: 12px;
}

TitledButton QToolButton:checked {
    background-color: transparent;
    border-color: PRIMARY_COLOR;
}

TitledButton QToolButton:disabled {
    border-color: PRIMARY_COLOR#50;
    background-color: transparent;
    color: PRIMARY_COLOR#50;
    border-style: dashed;
}

TitledButton QToolButton:checked:hover {
    border-color: PRIMARY_COLOR;
    background-color: transparent;
}

QLabel#buttonTitle {
    font-size: 9px;
    background: transparent;
}

QLabel#buttonTitle:disabled {
    color: PRIMARY_COLOR#50;
}

/* ~~~~~ LINE EDIT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

LineEdit, QLineEdit{
    border: 0px solid transparent;
    background-color: SURFACE_COLOR;
    border-radius: 2px;
 }

/* ~~~~~ PROGRESS WIDGET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

ProgressWidget QPushButton {
    image: URL(../icons/remove.png)#ERROR_COLOR;
    margin-bottom: 2px;
}

ProgressWidget QProgressBar {
    background-color: SURFACE_COLOR;
}

ProgressWidget QProgressBar::chunk {
    background-color: OK_COLOR;
    width: 1px;
}

ProgressWidget[failed=true] QProgressBar::chunk {
    background-color: ERROR_COLOR;
}

ProgressWidget QLabel {
    font-size: 11px;
}

ProgressWidget[failed=true] QLabel {
    color: ERROR_COLOR;
}

/* ~~~~~ TAB WIDGET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


QTabWidget::tab-bar {

}

QTabWidget::pane {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: 0px solid transparent;
    background-color: SURFACE_COLOR;
}

QTabBar QToolButton {
    border: 1px solid SECONDARY_TEXT_COLOR;
    background: BACKGROUND_COLOR;
    margin: 2px;
}

QTabBar QToolButton:hover {
    background-color: SECONDARY_TEXT_COLOR#10;
    border: 1px solid SECONDARY_TEXT_COLOR;
}

QTabBar QToolButton:disabled {
    border: transparent;
    background: transparent;
    color: transparent;
}

QTabBar::scroller {
    width: 60px;
}

QTabBar QToolButton::left-arrow {
    image: URL(../icons/chevron_left.png)#SECONDARY_TEXT_COLOR;
}

QTabBar QToolButton::left-arrow:disabled {
    image: url(../icons/transparent.png);
}

QTabBar QToolButton::right-arrow {
    image: URL(../icons/chevron_right.png)#SECONDARY_TEXT_COLOR;
}

QTabBar QToolButton::right-arrow:disabled {
    image: url(../icons/transparent.png);
}

QTabBar::tab {
    color: SURFACE_COLOR;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px 8px;
    border-right: 2px solid SURFACE_COLOR;
}

QTabBar::tab:!selected {
    margin-top: 0px;
}

QTabBar::tab:selected {
    background: SURFACE_COLOR;
    color: PRIMARY_TEXT_COLOR;
    margin-left: 0px;
    margin-right: 0px;
}

QTabBar::tab:selected:hover {
    background: SURFACE_COLOR;
}

QTabBar::tab:hover {
    background: SURFACE_COLOR#15;
}


QTabBar::tab:selected {

}

QTabBar::close-button {
    image: URL(../icons/remove.png)#SECONDARY_TEXT_COLOR;
}

QTabBar::close-button:selected {
    image: URL(../icons/remove.png)#ERROR_COLOR;
}

QTabBar::close-button:hover {
    image: URL(../icons/remove.png)#SECONDARY_TEXT_COLOR;
}

QTabBar::tab:first:selected {

}

QTabBar::tab:last:selected {

}

QTabBar::tab:only-one {

}

QHeaderView::section {
    background-color: transparent;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 0px solid transparent;
    border-bottom: 1px solid SECONDARY_COLOR;
}

QHeaderView::section:checked {

}

/* style the sort indicator */
QHeaderView::down-arrow {
  color: PRIMARY_TEXT_COLOR;
  image: URL(../icons/expand_less.png)#PRIMARY_COLOR;
  width: 12px;
  height: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QHeaderView::up-arrow {
  color: PRIMARY_TEXT_COLOR;
  image: URL(../icons/expand_more.png)#PRIMARY_COLOR;
  width: 12px;
  height: 12px;
}

QTreeView {
    show-decoration-selected: 0;
}

QTreeView::item {
    border: 1px solid PRIMARY_COLOR;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

QTreeView::item:hover {
    background: SECONDARY_COLOR#20;
}

QTreeView::item:selected {
    color: SECONDARY_TEXT_COLOR;
    background: SECONDARY_COLOR;
}

QTreeView::item:selected:active{
    background: SECONDARY_COLOR;
}

QTreeView::item:selected:!active {
    background: SECONDARY_COLOR;
    border-right: transparent;
}

QTreeView::item:has-children {
    background: PRIMARY_COLOR#10;
}

QTreeView::branch:has-children {
    padding: 4px;
    background: PRIMARY_COLOR#10;
}

QTreeView::branch:has-children:closed {
    image: URL(../icons/plus.png)#PRIMARY_TEXT_COLOR;
}

QTreeView::branch:has-children:open {
    image: URL(../icons/minus.png)#PRIMARY_TEXT_COLOR;
}

QScrollBar:vertical {
    background: transparent;
    width: 10px;
    margin: 2px;
}

QScrollBar:horizontal {
    background: transparent;
    height: 10px;
    margin: 2px;
}

 QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
     border: 0px solid transparent;
     width: 0px;
     height: 0px;
     background: transparent;
 }

 QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal {
     border: 0px solid transparent;
     width: 0px;
     height: 0px;
     background: transparent;
 }

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
   background-color: SECONDARY_COLOR;
}

 QScrollBar::add-line:vertical {
     border: 0px solid transparent;
     background-color: SECONDARY_COLOR;
     height: 10px;
 }

 QScrollBar::add-line:horizontal {
     border: 0px solid transparent;
     background-color: SECONDARY_COLOR;
     width: 10px;
 }

   QScrollBar::add-line:pressed {
     background: SECONDARY_COLOR#50;
 }

 QScrollBar::sub-line:vertical {
     border: 0px solid transparent;
     background-color: SECONDARY_COLOR;
     height: 10px;
 }

  QScrollBar::sub-line:horizontal {
     border: 0px solid transparent;
     background-color: SECONDARY_COLOR;
     width: 10px;
 }

  QScrollBar::sub-line:pressed {
     background: SECONDARY_COLOR;
 }

QMenu {
  border: 0px solid transparent;
  margin: 0px;
}

QMenu::icon {
  margin: 0px;
  padding: 0px 5px;
}

QMenu::item {
  background-color: SURFACE_COLOR;
  padding: 10px 24px 10px 30px;
  border: 1px solid transparent;
}

QMenu#contextMenu::item {
  padding-left: 15px;
}

QMenu::item:selected {
  background: SECONDARY_COLOR#15;
}

QMenu::item:checked {
   background-color: SECONDARY_COLOR;
   color: SECONDARY_TEXT_COLOR;
}

QMenu::item:disabled {
    color: PRIMARY_COLOR#50;
}

QMenu::indicator {
  width: 12px;
  height: 12px;
  padding-left: 6px;
}

QMenu::indicator:non-exclusive:checked {
  image: URL(../icons/check.png)#SECONDARY_TEXT_COLOR;
}


QFrame#toggleButtonContainer {
    margin: 2px;
}

ToggleButton QLabel {
    font-size: 11px;
    text-transform: uppercase;
}

QSlider {
    margin: 0px 2px 0px 0px;
    padding: 2px 5px;
    height: 11px;
    max-width: 14px;
    background: PRIMARY_COLOR#50;
    border-radius: 7px;
    border: 0px solid transparent;
}

QSlider[checked=true] {
    background: SECONDARY_COLOR;
 }

QSlider[enabled=false] {
    opacity: 0.5;
    background: PRIMARY_COLOR#50;
 }

QSlider::groove:horizontal {
    background: transparent;
}

QSlider::handle:horizontal {
    height: 5px;
    width: 11px;
    border-radius: 5px;
    background: SURFACE_COLOR;
    margin: 0 -4px;
}

QDialog {
    border: 1px solid PRIMARY_COLOR;
    background: SURFACE_COLOR;
    min-width: 320;
}

QDialog QLabel {
    padding: 0px 0px 0px 10px;
    font-weight: normal;
}

QDialog QLabel[primary=true] {
    padding: 10px 16px 10px 10px;
    margin: 0px 5px 0px 5px;
    border-bottom: 1px solid SECONDARY_COLOR;
    font-weight: bold;
}

QDialog QLineEdit {
    border: 1px solid PRIMARY_COLOR;
}

QDialog QTextEdit {
    background-color: transparent;
    font-style: italic;
    margin: 5px;
    margin-bottom: 0px;
    padding: 6px;
    padding-bottom: 0px;
}

QDialogButtonBox QToolButton {
    border: 0px solid transparent;
    background: transparent;
    width: 30px;
    height: 30px;
    margin: 0px;
}

